/* General Styles */
.hidden {
    display: none;
}

.receipt-form {
    max-width: 5000px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.desc {
    color: rgba(0, 45, 88, 0.938);
}

label {
    font-weight: bold;
    font-size: 1.0rem;
    margin-right: 10px;
    color: rgba(0, 45, 88, 0.938);
}

/* Input Styles */
select, input[type="date"], input[type="text"], input[type="password"], input[type="number"] {
    margin-right: 10px;
    padding: 10px;
    font-size: 1em;
    width: calc(100% - 22px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus {
    border-color: var(--accent-clr);
    outline: none;
}

/* Button Styles */
input[type="submit"], button {
    margin-top: 20px;
    padding: 10px 15px;
    font-family: Montserrat;
    background-color: var(--accent-clr);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

input[type="submit"]:hover, button:hover {
    background-color: var(--hover-clr);
    transform: translateY(-2px);
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    color: black;
    text-align: left;
}

thead {
    background-color: hsla(195, 100%, 37%, 0.795);
    color: white;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

tbody tr {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e0e0e0;
}

/* Responsive Styles */
@media (max-width: 600px) {
    table {
        font-size: 14px;
    }
}

/* Action Button Styles */
.action-buttons {
    display: flex;
    gap: 10px;
}

.action-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s;
    text-decoration: none;
    color: white;
    text-align: center;
    min-width: 120px;
}

.input-btn {
    background-color: #4CAF50;
}

.summary-btn {
    background-color: #2196F3;
}

.history-btn {
    background-color: #9C27B0;
}

.action-btn:hover {
    opacity: 0.9;
}

/* Date Group Styles */
#monthly-options, #annual-options, #quarterly-options, #custom-options {
    margin-bottom: 1em;
}

.date-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

